body {
    padding: 0;
    margin: 0;
}

.title-section {
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glitch-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 5vw;
    color: #1ec503;
    animation-name: glitch-text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/*inspo from https://www.creativebloq.com/how-to/how-to-create-glitch-text-and-image-effects-in-css*/
@keyframes glitch-text {
    0% {
        transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    } 2% {
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    } 4% {
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    } 5% {
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    } 6% {
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    } 7% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }  8% {
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    } 9% {
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    } 9.9% {
        transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
    } 10%, 77% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    } 78% {
        transform: translate3d(20px, 0, 0);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    } 79% {
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    } 80%, 100% {
        transform: translate3d(0, 0, 0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
} 
#title{
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    color: #ec1e4b;
}
#parallax{
    background-image: url("heart-wifi-animated-gif.gif");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600,450;
}
#heart-container{
    height: 750px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 300px;
}
#heart-container image{
    width: 300px;
    height: 300px;
}
.heart{
    position: relative;
    width: 300px;
    height: 270px;
    float: left;
    transition: transform .8s ease-in-out;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 150px;
    top: 100;
    width: 150px;
    height: 240px;
    background: #ec1e4b;
    border-radius: 150px 150px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
  }
  #h3:hover{
      transform: rotate(180deg);
  }
  #h2:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  #h1:hover{
      animation: grow 1s ease infinite;
  }
  @keyframes grow{
      0%{transform: scale(1);}
      50%{transform: scale(1.5);}
      100%{transform: scale(1);}
  }
  #h1 span, #h2 span, #h3 span{
      z-index: 10;
      color: white;
      position: relative;
      top: 80px;
      right: -129px;
  }
  #h1,#h2,#h3{
      top: 220px;
  }